<!-- ********* header ******************-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'bloglist' %}">Tommy'Blog</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
{#                {% if user.is_authenticated %}#}
{#                <li><a href="#">{{ user.username }}</a></li>#}

                <li><a href="{% url 'home' %}">Home</a></li>
{#                {% else %}#}
                <li><a href="{% url 'home' %}">About me</a></li>
{#                <li><a href="">Sign In</a></li>#}
{#                <li>#}
{#                    <form method="POST" action="/todo/create/" accept-charset="UTF-8" class="form-horizontal " role="form">#}
{#                    <!-- <input name="_token" type="hidden" value="USs1eovm6BPu15NWpDrjZ3edGcq1ESUyWgDCxBh2"> -->#}
{#                    <!-- Name Field -->#}
{#                    <div class="form-group">#}
{#                  <label for="name" class="col-sm-3 control-label">Todo Name</label>#}
{#                        <div class ="col-sm-6">#}
{#                            <input class="form-control" name="title" type="text" id="name" style="width: 100px;height: 20px;position: absolute;top: 15px;">#}
{#                            <span class="help-block text-danger"></span>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        <div >#}
{#                            <input class="btn btn-primary" type="submit" value="Create Button">#}
{#                        </div>#}
{#                    </div>#}
{#                    </form>#}
{#                </li>#}

{#                {% endif %}#}
            </ul>
        </div>
    </div>
</nav>